.html {
    width: 100%;
      font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ 

/**
   * Remove default margin.
   */
}
body{
    margin:0px;
    color: #767676;
}
/*
============

============
*/
#search {
    display: inline-block;
    text-align: left;
}

#icon-1 {
    display:inline-block;
}

#text {
    font-weight: 900;
    display:inline-block;
}

#eddy {
    display: inline-block;
    text-align: right;
    margin-left: 580px;
}

#eddy a{
    padding:5px;
    text-decoration: none;
    font-family: 
    text-transform: uppercase;
    color:#767676;
}

#eddy a:hover{
    color: navy;
    cursor: pointer;
}
/*
==========================
storage space
==========================
*/
#storage {
    color:white;
    display: inline-block;
    padding:2px;
}

#plus {
    display: inline-block;
    padding:10px;
    text-align: center;
    margin: 10px;
}

.gb {
    color:#747F9D;
    display:block;
    font-weight:900;
    text-align: center;
}

#line {
    display: flex;
    padding: 20px;
    margin-top: 40px;
}

#n, #b{
    border:0px;
    width:50%;
    padding:2px;
}
#b {
    background-color:#363E54;
}

#n {
    background-color:#00B5F9;
}
#btn{
    display:flex;
    text-align: center;
    border:2px solid #00B5F9;
    padding:10px;
    margin:20px;
    color:white;
}

#btn i{
    margin-right: 20px;
    color:#00B5F9;
}
/*
===============
first section
===============
*/
#first-section{
    display:flex;
}

/*
===============
left section
===============
*/
#left-section{
    display:inline-block;
    width:30%;
    background-color:#444C63;
}
#logo {
    color: #00B5F9;
    height: 200px;
    width: 100%;
}

.left {
    display: block;
    padding:20px;
}

.lft-logo{
    display:inline-block;
    width:10%;
    padding:10px;
}

.lft-logo{
    font-size:25px;
}

.name {
    font-family: fantasy;
    color: whitesmoke;
    font-size: 25px;
    display:inline-block;
    width:50%;    
    padding:10px;
    font-weight:500;
}
#lft-name {
    width:50%
}
#menu {
    width: 10%;
    display: inline-block;    
}

#hdd {
    padding:500px 0px 20px 0px;
}
/*
==========
search
==========
*/
#top {
    display: block;
    padding:20px;
    text-align: center;
}
/*
===============

===============
*/
#cam-shots {
    display:inline-block;
    margin:10px;
    padding:5px 5px 5px 15px;
}

.photo {
    width:15%;
    display:inline-block;
    margin:15px;
    padding:25px;
    vertical-align: top;
}

.cam {
    width: 155%;
    height: 200px;
}

.nature {
    color: gray;
    font-family: fantasy;
    font-size: 20px;
    font-weight:bold;
}
.size {
    font-family: fantasy;
    font-size: 20px;
    color: gray;
    font-weight: 900;
}
/*
================

================
*/
#pics {
    font-family:sans-serif, cursive;
    padding 20px;
    margin-left:35px;
}

#apicons {
    display: flex;
    padding:12px;
}

#icons {
    width:50%;
}

#icons i {
    padding:25px;
    font-size:30px
}
#cat-buttons {
    width:50%;
    text-align: right;
}
#name-button {
    background-color:#444C63;
    color:white;
}
.cat-btn {
    background-color:transparent;
    border: 0px;
    padding:5px;
}
/*
==========
right
==========
*/
#right {
    display:inline-block;
    width:70%;
}